---
layout: default
---

<p class="tagline">Urban Fantasy in Scandinavian Setting</p>
<!-- [todo] - Write better design -->

<div class="story-box">
    <figure id="covers-shards">
        <a href="/assets/images/covers/shards.jpg" data-rel="thumbnail">
            <img alt="Cover for Shards of the Eld" src="/assets/images/covers/thumbnails/shards.jpg" width="300" height="400">
        </a>
        <figcaption>&copy; 2013-2015 Antonius M. Hogebrandt</figcaption>
    </figure>
    <div>
        <h2>Status</h2>
        <progress max="100" value="12.5"></progress>
        <p>2nd draft</p>
        <p>59 737 words</p>
    </div>
</div>

<blockquote>An ambitious journalist student/burlesque dancer meets a hot-blooded playboy. Their flirty games become serious as a serial killer is on the loose. She has to uncover the truth about her foe and her own mystic legacy-and pick up the pieces of her shattered mind- before he strikes again.</blockquote>

{{#markdown}}
    {% body %}
{{/markdown}}

<h2>Point of View Characters</h2>

<ul>
    <li><strong>Vendela Fridh</strong>–an ambitious and calculating journalist student with a forgotten past, who works extra at a burlesque-inspired strip club</li>
    <li><strong>Andrej Narychkine</strong>–a rich playboy with a dark secret, whose charm runs headfirst into the controlled Vendela</li>
</ul>

<h2>Other notable characters</h2>

<ul>
    <li><strong>Sia Starholm</strong>–Vendela's BFF, as impulsive as Vendela is cool, whose luck with the ladies is close to non-existent</li>
    <li><strong><a href="/characters/katja-bradley">Katja Bradley</a></strong>–Andrej's friend-with-benefits, a fashion designer with a wicked sense of humour</li>
    <li><strong>Princess Helga Nikolovna Narychkina</strong>–Russian in exile, Andrej's paternal grandmother, Sia's employer, and a formidable grand dame</li>
</ul>

<h2>Excerpt</h2>
{{ loadExcerpt key }}
